<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New Message</title>
</head>

<body>
    <h1>New Message</h1>
    <form action="/message/new" method="POST">

        <label for="title">Title </label>
        <input id="title" name="title" required type="text" placeholder="Title">

        <label for="message">Message</label>
        <input id="message" name="message" required type="text" placeholder="Message">

        <button>Submit Message</button>
    </form>




</body>

</html>